@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;500;600;700&display=swap');
* {
    margin: 0;
    padding: 0;
}

body {
    background: #151414;
    color: #e7dfdf;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 5px solid #dc6220;
    border-radius: 20px;
    padding-top: 15%;
    margin: 2rem;
    margin-top: 50px;
    position: relative;
}

form::before {
    content: "matrix-calculator";
    color: #dc6220;
    position: absolute;
    top: -30px;
    left: 2rem;
    font-size: 45px;
    background: #151414;
    padding: 0 20px;
}

form .matrices {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

form .matrix {
    display: flex;
    align-items: center;
}

form .matrix .parentheses{
    font-size: 170px;
    font-weight: 100;
    margin: 0 10px;
}

.matrixLabel {
    font-size: 50px;
    font-weight: 500;
}

form input,
form select {
    width: 60px;
    height: 60px;
    background: #333;
    color: #e7dfdf;
    font-size: 25px;
    font-weight: 500;
    border-radius: 5px;
    margin: 2px;
    text-align: center;
    border: none;
    transition: all 0.3s ease;
}

form input:hover,
form select:hover {
    background: #4c4a4a;
}


form select {
    font-weight: 700;
    font-size: 30px;
}

form .submit {
    width: 240px;
    height: 60px;
    margin: 100px auto;
    color: #151414;
    font-size: 30px;
    font-weight: 600;
    border-radius: 10px;
    border: none;
    background-color: #dc6220;
    transition: all 0.5s ease;
}

form .submit:hover {
    transform: scale(1.05);
    background: none;
    border: 2px solid #dc6220;
    color: #dc6220;
}

@media (max-width: 1400px) {

    form {
        padding-top: 4%;
    }
    form .matrices {
        flex-direction: column;
    }

    form select {
        margin: 20px 0;
    }

    form .submit {
        margin: 10px auto 20px auto;
    }
}

@media (max-width: 490px) {

    form input,
    form select {
        width: 50px;
        height: 50px;
        font-size: 20px;
    }

    form::before {
        top: -21px;
        font-size: 28px;
        padding: 0 10px;
        font-weight: 500;
    }

    form .matrix .parentheses{
        font-size: 140px;
        font-weight: 100;
        margin: 0 10px;
    }

    .matrixLabel {
        font-size: 35px;
        font-weight: 500;
    }
}

@media (max-width: 430px) {

    form input,
    form select {
        width: 40px;
        height: 40px;
        font-size: 15px;
    }

    form::before {
        top: -21px;
        font-size: 28px;
        padding: 0 10px;
        font-weight: 500;
    }

    form .matrix .parentheses{
        font-size: 110px;
        font-weight: 100;
        margin: 0 8px;
    }

    .matrixLabel {
        font-size: 25px;
        font-weight: 500;
    }

    form .submit {
        height: 50px;
        width: 200px;
    }
}

